%a{class: 'waves-effect waves-light btn modal-trigger', href: '#share-movie'}
  Share a movie
#share-movie.modal
  = form_for @movie, url: movies_path, html: {class: 'col s12'} do |f|
    = f.hidden_field :user_id, value: current_user.id
    .modal-content
      %h4 Share a movie
      .row
        .col.s12
          .row
            .input-field.col.s12
              = f.text_field :url, required: true
              = f.label :url, 'Youtube Url'
          .row
            .input-field.col.s12
              = f.text_field :title, required: true
              = f.label :title
          .row
            .input-field.col.s12
              = f.text_area :description, required: true, class: 'materialize-textarea', 'data-length' => 1024
              = f.label :description
    .modal-footer
      %a.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Close
      = f.submit 'Submit', class: 'btn'

- if @movies.blank?
  %p
    You have no any movies!
  %p
    Click
    %strong
      SHARE A MOVIE
    to post your movie!
- else
  %div{style: 'margin: 30px 0'}
  - @movies.each_with_index do |movie, index|
    .row
      .col.l6.s12.center-align{style: 'padding: 10px'}
        = movie_iframe(movie)
      .col.l6.s12{style: 'padding: 10px; position: relative;'}
        %h5{style: 'margin-top: 0'}
          = movie.title
        %strong
          Shared by:
          = movie.user.email
        %p{id: "like-dislike-group-#{movie.id}", style: 'margin-bottom: 0'}
          = render 'movies/like_dislike', movie: movie
        .description
          = simple_format movie.description
        - if current_user == movie.user
          .delete-movie
            = link_to 'Delete', movie_path(movie), method: :delete, data: { confirm: 'Are you sure?' }, class: 'red-text'
    - if index != @movies.count - 1
      %hr{style: 'margin: 40px;'}